[Unit]
Description=AutoRippr

[Service]
Type=oneshot
ExecStart=/usr/bin/python "$AUTORIPPR_HOME"/autorippr.py --all

[Install]
WantedBy=multi-user.target